<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Priv Prompt</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Priv Prompt</h1>

      <div class="input-box">
        <input
          type="text"
          id="promptInput"
          placeholder="Enter your prompt here..."
        />
        <button id="submitBtn">Submit</button>
      </div>

      <div class="box">
        <h2>Original Prompt</h2>
        <pre id="originalPrompt"></pre>
      </div>

      <div class="box">
        <h2>Sanitized Prompt</h2>
        <pre id="sanitizedPrompt"></pre>
      </div>

      <div class="box">
        <h2>Detected Sensitive Info</h2>
        <pre id="detected"></pre>
      </div>
      <div class="box">
        <h2>AI Response (Original Prompt)</h2>
        <pre id="aiResponseOriginal"></pre>
      </div>

      <div class="box">
        <h2>AI Response (Sanitized Prompt)</h2>
        <pre id="aiResponseSanitized"></pre>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
